# We'll let Git's auto-detection algorithm infer if a file is text. If it is,
# enforce LF line endings regardless of OS or git configurations.
* text=auto eol=lf

# Make sure C# files are treated as text.
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf